.contenedor {
  text-align: center; /* Centra horizontalmente */
  margin-top: 20px; /* Espacio superior */
  margin-bottom: 20px; /* Espacio inferior */
  padding: 10px; /* Espaciado interno */
  height: 50%;
}
